<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body class="grey-bg">
        <%- include("nav.ejs") %>

        <div class="detail-bg">
            <div class="chat-screen">
                <% chat.forEach((item) => { %>
                    <div class="chat-box <%= item.writer_id.equals(user._id) ? 'mine' : '' %>">
                        <span><%= item.content %></span>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="chat-form">
            <input class="chat-input" />
            <button class="chat-button">전송</button>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
        <script>
            const socket = io();
            const roomId = "<%= data._id %>";
            const userId = "<%= user._id %>";

            socket.emit("ask-join", roomId);

            document.querySelector(".chat-button").addEventListener("click", () => {
                let chatInput = document.querySelector(".chat-input");

                socket.emit("send-msg", { msg : chatInput.value, room : roomId, writerId : userId });

                chatInput.value = "";
            });

            socket.on("broadcast", (data) => {
                const chat = document.createElement("div");
                const text = document.createElement("span");
                chat.className = userId == data.userId ? "chat-box mine" : "chat-box";

                console.log(userId, data.userId);
                text.innerHTML = data.msg;

                chat.appendChild(text);

                document.querySelector(".chat-screen").appendChild(chat);
            });
        </script>
    </body>
</html>
