<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="grey-bg">
        <%- include("nav.ejs"); %>
        
        <div class="white-bg">
            <% data.forEach((post) => { %>
                <div class="list-box">
                    <h4>
                        <%= post.title %>
                        <a href="/detail/<%= post._id %>">링크</a> 
                        <a href="/edit/<%= post._id %>" style="text-decoration-line: none;">✏️</a>
                        <span href="/edit/<%= post._id %>" class="del-btn" style="cursor: pointer;" data-id="<%= post._id %>">🗑️</span>
                    </h4>
                    <p><%= post.content %></p>
                </div>
            <% }); %>
          </div>

          <script>
            const delBtn = document.querySelectorAll(".del-btn");

            for (let i = 0; i < delBtn.length; i++) {
                delBtn[i].addEventListener("click", (e) => {
                    let postId = e.target.dataset.id;

                    fetch(`/delete-post?id=${postId}`, {
                        method : "DELETE",
                    });

                    e.target.parentElement.parentElement.style.display = "none";
                });
            }
          </script>
    </body>
</html>
